.headline {
    align-content: center;
    background-color: rgb(7, 8, 15);
    color: white;
    height: 80px;
    margin-top: 220px;
    padding: 20px;
}

.timer-row, .question-row, .answer-row {
    align-content: center;
}

.answers {
    float: left;
}

.answer-row {
    flex-flow: row wrap;
    margin-left: 260px;
}

#after-submit {
    visibility: hidden;
}

* {
    font-family: 'Source Serif Pro', serif;
}

#quiz {
    margin-top: 70px;
    padding-top: 20px;
    background-color: rgba(215, 230, 233, 0.877);
    border-radius: 20px;
    opacity: 0%;
    overflow-block: initial;
}

#answers {
    text-align: left;
}


img {
    visibility: hidden;
}

#timer, #message {
    opacity: 0%;
    border-radius: 20px;
    width: 200px;
    margin-left: 450px;
    background-color: rgba(215, 230, 233, 0.877);
}