* {
    font-family: 'Source Serif Pro', serif;
}

.headline {
    align-content: center;
    background-color: rgb(7, 8, 15);
    color: white;
    height: 80px;
    margin-top: 220px;
    padding: 20px;
}

#game {
    display: none;
}

#quiz {
    margin-top: 70px;
    padding-top: 20px;
    background-color: rgba(215, 230, 233, 0.877);
    border-radius: 20px;
    opacity: 0.75;
    overflow-block: initial;
    padding: 40px;
}

#timer {
    margin-top: 20px;
    opacity: 0.75;
    border-radius: 20px;
    width: 200px;
    margin-left: 450px;
    background-color: rgba(215, 230, 233, 0.877);
    display: none;
}

#message {
    background-color: red;
    border-radius: 20px;
    opacity: 0.75;
    padding: 20px;
    display: none;
}

#start {
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#re-start {
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#subButton {
    border-radius: 20px;
    margin-left: 500px;
    display: none;
}

#testStatus {
    color:  rgba(215, 230, 233, 0.877);
    opacity: .5;
}